.App {
  text-align: center;
  background-color: #f7f7ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #495867;
}

.Title {
  color: #577399;
}
